footer{
    grid-area: footer;
    background-color: #111111;
    padding: 20px;
    padding-bottom: 0;
    text-align: center;
    margin-top: 20px;
    .divRedesSociales{
        display: flex;
        justify-content: space-around;
        .divIconoRS{
            display: flex;
            justify-content: space-between;
            figure{
                margin: 0;
                .iconoRS{
                    margin: 15px;
                    width: 30px;
                }
            }
            
            @media screen and (max-width: 500px){
                justify-content: center;
                align-items: center;
            }
        }
        .divContacto{
            margin-left: 30px;
            @media screen and (max-width: 500px){
                margin: 0;
            }
        }
        @media screen and (max-width: 500px){
            display: block;
        }
    }
}