.scFormulario{
    margin-top: 35px;
    margin-bottom: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    form{
        width: 50%;
        .tituloCentrado{
            text-align: center;
        }
        .spanColor{
            background-color: #363636;
            border: #222222 1px solid;
            color:rgb(255, 255, 255);
        }
        .inpColor{
            background-color: #363636;
            border: #222222 1px solid;
            color:rgb(255, 255, 255);
        }
        #btnEnviar{
            background-color: #363636;
            border: #222222 1px solid;
            color:rgb(255, 255, 255);
            &:hover{
                background-color: #464646;
            }
        }
        @media screen and (max-width: 900px) {
            width: 80%;
        }
        @media screen and (max-width: 500px) {
            width: 95%;
        }
    }
    
}