/*Historia*/
.scHistoria{
    margin:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    .divflex{
        .divVideoImg{
            margin: 10px;
            display: flex;
            .imgTrabajoTeam{
                margin: auto;
                width: 300px;
                @media  screen and (max-width: 1250px){
                    margin-top: 20px;
                } 
            }
            @media screen and (max-width: 1250px){
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
            }
        }
        /*Despues divVideoImg ponerles display flex*/
        .divComoComence{ 
            position: relative;
            margin: 0 20%;
            text-align: center;
            .historia{
                margin: 20px;
                padding: 5%;
                border-radius: 10px;
                background-color: #111010;
            }
            .subTitulo{
                display: grid;
                position: relative;
                align-items: center;
                justify-items: center;
                background-color: #000000;
                .hTamaño{
                    padding: 30px;
                }
                &::before{
                    content: '';
                    position: absolute;
                    width: calc(100% + 0%); /*tamaño de luces der e izq*/
                    height: calc(100% + 10%); /*tamaño de luces arriba y abajo*/
                    z-index: -1; /*se coloca atras*/
                    background-image: linear-gradient(60deg, #ff0000, #ffd000, #00ff00, #00e1ff, #2f00ff, #ff00dd, #ff004c, #ff0000);
                    background-size: 300%;
                    animation: animate_bg 5s infinite; /*Tiempo de la animacion*/
                }
            }
            @media screen and (max-width: 1250px){
                    margin: 0px 10%;
            }
            @media screen and (max-width: 500px){
                margin: 0px 10px;
            }
        }
        @media screen and (max-width: 1250px){
            justify-content: center;
            align-items: center;
            flex-wrap: wrap-reverse;
        }
    }
}