/*Servicio*/
@mixin mediaquery2_5($id) {
    @if  $id == 2 {
        left: 5%;
        top: 45%;
    }
    @else if $id == 5{
        right: 5%;
        top: 45%;
    }
    @media screen and (max-width: 800px) {
        @if $id == 2{
            left: 10%;
        }
        @else if $id == 5 {
            right: 0%;
            bottom:30px;
        }
    }
    @media screen and (max-width: 1200px){
        @if $id == 2{
            left: -20px;
            width: 60px;
        }
        @else if $id == 5 {
            right: -20px;
            width: 60px;
        }
    }
}
@mixin mediaquery1346($id) {
    @if $id == 1 {
        left: 10%;
        top:20px;
        @media screen and (max-width: 890px) {
            top: 10%;
        }
        @media screen and (max-width: 1200px){
            left: 40px;
            width: 60px;
        }
        @media screen and (max-width: 500px) {
            left:-10px;
        }
        @media screen and (max-width: 400px) {
            top: 70px;
        }

    }
    @else if $id == 3{
        left: 10%;
        bottom: 5%;
        @media screen and (max-width: 890px) {
            left: 50px;
            bottom: 100px;
        }
        @media screen and (max-width: 1200px){
            left: 40px;
            width: 60px;
        }
        @media screen and (max-width: 1070px){
            left: 0px;
            width: 60px;
        }
        @media screen and (max-width: 400px) {
            left: -20px;
            bottom: 100px;
        }
    }
    @else if $id == 4{
        right: 10%;
        top:20px;
        @media screen and (max-width: 890px) {
            right: 0%;
            top:10%;
        }
        @media screen and (max-width: 1200px){
            right: 40px;
            width: 60px;
        }
        @media screen and (max-width: 500px){
            right: 0px;
        }
        @media screen and (max-width: 400px) {
            top: 70px;
        }
    }
    @else if $id == 6{
        right: 10%;
        bottom: 5%;
        @media screen and (max-width: 1200px){
            right: 40px;
            width: 60px;
        }
        @media screen and (max-width: 1070px){
            right: 0px;
        }
        @media screen and (max-width: 880px) {
            right: 0px;
            bottom: 100px;
        }
        @media screen and (max-width: 400px) {
            right: -20px;
            bottom: 100px;
        }

    }
}
.scContrata{
    position:relative;
    text-align: center;
    margin: 20px;
    padding: 20px;
    @for $i from 1 to 7 {
        #icCarrito#{$i}{
            position: absolute;
            width: 80px;
            @if $i == 2 or $i == 5{
                @include mediaquery2_5($i);
            }
            @else{
                @include mediaquery1346($i);
            }
        }
    }
    .divgrillas{
        display: grid;
        grid-template-columns: 270px 270px 270px;
        grid-gap: 10px;
        justify-content: center;
        align-items: center;
        .cardCompra{
            margin: 10px 10px;
            border-radius: 20px;
            .divFoto{
                display: grid;
                position: relative;
                align-items: center;
                justify-items: center;
                background-color: #000000;
                margin-bottom: 3px;
                border-top-right-radius: 10px;
                border-top-left-radius: 10px;
                .imgCompra{
                    width: 100px;
                }
                &::before{
                    content: '';
                    position: absolute;
                    border-top-right-radius: 10px;
                    border-top-left-radius: 10px;
                    width: calc(100% + 3%); /*tamaño de luces der e izq*/
                    height: calc(96% + 10%); /*tamaño de luces arriba y abajo*/
                    z-index: -1; /*se coloca atras*/
                    background-image: linear-gradient(60deg, #7700ff, #3700ff, #001aff, #0066ff, #00a2ff, #00eeff, #00ff95, #00ff55);
                    background-size: 300%;
                    animation: animate_bg 5s infinite; /*Tiempo de la animacion*/
                }
            }
            
            .lucesBloc{
                display: grid;
                position: relative;
                align-items: center;
                justify-items: center;
                background-color: #000000;
                margin-bottom: 3px;
                &::before{
                    content: '';
                    position: absolute;
                    width: calc(100% + 3%); /*tamaño de luces der e izq*/
                    height: calc(94% + 10%); /*tamaño de luces arriba y abajo*/
                    z-index: -1; /*se coloca atras*/
                    background-image: linear-gradient(60deg, #7700ff, #3700ff, #001aff, #0066ff, #00a2ff, #00eeff, #00ff95, #00ff55);
                    background-size: 300%;
                    animation: animate_bg 5s infinite; /*Tiempo de la animacion*/
                }
            }
            .divPrecio{
                display: grid;
                position: relative;
                align-items: center;
                justify-items: center;
                background-color: #000000;
                margin-bottom: 3px;
                .textoCentrado{
                    margin: 10px;
                    text-align: center;
                }
                &::before{
                    content: '';
                    position: absolute;
                    width: calc(100% + 3%); /*tamaño de luces der e izq*/
                    height: calc(94% + 10%); /*tamaño de luces arriba y abajo*/
                    z-index: -1; /*se coloca atras*/
                    background-image: linear-gradient(60deg, #7700ff, #3700ff, #001aff, #0066ff, #00a2ff, #00eeff, #00ff95, #00ff55);
                    background-size: 300%;
                    animation: animate_bg 5s infinite; /*Tiempo de la animacion*/
                }
            }
            .divComprar{
                display: grid;
                position: relative;
                align-items: center;
                justify-items: center;
                background-color: #000000;
                margin-bottom: 3px;
                border-bottom-right-radius: 10px;
                border-bottom-left-radius: 10px;
                &::before{
                    content: '';
                    position: absolute;
                    border-bottom-right-radius: 10px;
                    border-bottom-left-radius: 10px;
                    width: calc(100% + 3%); /*tamaño de luces der e izq*/
                    height: calc(96% + 15%); /*tamaño de luces arriba y abajo*/
                    z-index: -1; /*se coloca atras*/
                    background-image: linear-gradient(60deg, #7700ff, #3700ff, #001aff, #0066ff, #00a2ff, #00eeff, #00ff95, #00ff55);
                    background-size: 300%;
                    animation: animate_bg 5s infinite; /*Tiempo de la animacion*/
                }
            }
        }
        @media screen and (max-width: 990px){
            grid-template-columns: 250px;
            justify-content: center;
            align-items: center;
        }
    }

}
.scPago{
    margin: 10px;
    text-align: center;
    .logoPago{
        width: 30%;
        @media screen and (max-width: 1200px){
            width: 600px;
        }
        @media screen and (max-width: 800px){
            width: 400px;
        }
        @media screen and (max-width: 500px){
            width: 300px;
        }
    }
    
}