@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
header {
  grid-area: "encabezado"; }
  header nav {
    display: flex;
    position: relative;
    animation: animate_text 1s linear infinite alternate; }
    header nav::before {
      content: '';
      position: absolute;
      width: calc(98% + 2%);
      /*tamaño de luces der e izq*/
      height: calc(98% + 10%);
      /*tamaño de luces arriba y abajo*/
      z-index: -1;
      /*se coloca atras*/
      background-image: linear-gradient(60deg, #FF1800, #ff4800, #ff8800, #ffd000, #ffe600, #c8ff00, #d0ff00, #b3ff00);
      background-size: 300%;
      animation: animate_bg 20s infinite;
      /*Tiempo de la animacion*/ }
    header nav .luces {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      position: relative;
      width: 100%;
      background: black;
      color: white; }
      header nav .luces .logo {
        color: white;
        display: flex;
        align-items: center;
        padding: 10px;
        text-decoration: none; }
        header nav .luces .logo h1 {
          font-size: 30px;
          margin: 5px 20px 0px 0px;
          font-family: 'Bebas Neue', cursive;
          margin-left: 10px; }
      header nav .luces .tab-nav {
        outline: none;
        display: none; }
        @media screen and (max-width: 800px) {
          header nav .luces .tab-nav:checked ~ .listEnlace {
            /*Espacio que tiene el menu cuando se abre*/
            max-height: 500px; } }
      header nav .luces .label {
        display: none; }
        header nav .luces .label .barritas {
          width: 35px;
          height: 5px;
          background-color: white;
          margin-top: 5px; }
        @media screen and (max-width: 800px) {
          header nav .luces .label {
            display: block;
            cursor: pointer;
            grid-column: 3;
            padding-right: 10px; } }
      header nav .luces .listEnlace {
        grid-column: 3;
        list-style: none;
        padding: 0; }
        header nav .luces .listEnlace .enlace {
          display: inline-block;
          padding: 10px; }
          header nav .luces .listEnlace .enlace .link {
            text-decoration: none;
            color: white;
            position: relative; }
            header nav .luces .listEnlace .enlace .link::after {
              content: '';
              display: block;
              height: 2px;
              background-color: white;
              position: absolute;
              transform-origin: right;
              transform: scale(0, 1);
              transition: transform ease-in-out 0.5s; }
            header nav .luces .listEnlace .enlace .link:hover::after {
              transform: scale(1, 1); }
            @media screen and (max-width: 800px) {
              header nav .luces .listEnlace .enlace .link {
                margin: 10px 0px 0px 10px; } }
        @media screen and (max-width: 800px) {
          header nav .luces .listEnlace {
            display: grid;
            grid-template-columns: 1fr;
            grid-column: 1;
            /*lo acomodamos en la primera columna*/
            max-height: 0;
            /*le sacamos toda la altura*/
            max-height: 0;
            overflow: hidden;
            /*que la trasición sea de un 1s */
            transition: all ease-in-out 0.6s; } }

@keyframes animate_bg {
  0%, 100% {
    background-position: 0%, 20%; }
  50% {
    background-position: 100%, 20%; } }

/*Sobre mi*/
.scSobreMi {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .scSobreMi .divQuienSoy {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-wrap: wrap; }
    .scSobreMi .divQuienSoy .imgWork {
      border-radius: 100%;
      width: 300px;
      height: 300px; }
    .scSobreMi .divQuienSoy .sobreMi {
      margin: 30px;
      width: 40%; }
      @media screen and (max-width: 600px) {
        .scSobreMi .divQuienSoy .sobreMi {
          width: 100%; } }
  .scSobreMi .botonesBiografia {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
    .scSobreMi .botonesBiografia .btnColor {
      color: white;
      background-color: #ff4400;
      border: #9c3e1c solid 1px; }
      .scSobreMi .botonesBiografia .btnColor:hover {
        background-color: #ff7340;
        border: #9e411f solid 2px; }
  .scSobreMi .cardFondo {
    background-color: #222020; }

/*Historia*/
.scHistoria {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .scHistoria .divflex {
    /*Despues divVideoImg ponerles display flex*/ }
    .scHistoria .divflex .divVideoImg {
      margin: 10px;
      display: flex; }
      .scHistoria .divflex .divVideoImg .imgTrabajoTeam {
        margin: auto;
        width: 300px; }
        @media screen and (max-width: 1250px) {
          .scHistoria .divflex .divVideoImg .imgTrabajoTeam {
            margin-top: 20px; } }
      @media screen and (max-width: 1250px) {
        .scHistoria .divflex .divVideoImg {
          display: flex;
          justify-content: space-around;
          flex-wrap: wrap; } }
    .scHistoria .divflex .divComoComence {
      position: relative;
      margin: 0 20%;
      text-align: center; }
      .scHistoria .divflex .divComoComence .historia {
        margin: 20px;
        padding: 5%;
        border-radius: 10px;
        background-color: #111010; }
      .scHistoria .divflex .divComoComence .subTitulo {
        display: grid;
        position: relative;
        align-items: center;
        justify-items: center;
        background-color: #000000; }
        .scHistoria .divflex .divComoComence .subTitulo .hTamaño {
          padding: 30px; }
        .scHistoria .divflex .divComoComence .subTitulo::before {
          content: '';
          position: absolute;
          width: calc(100% + 0%);
          /*tamaño de luces der e izq*/
          height: calc(100% + 10%);
          /*tamaño de luces arriba y abajo*/
          z-index: -1;
          /*se coloca atras*/
          background-image: linear-gradient(60deg, #ff0000, #ffd000, #00ff00, #00e1ff, #2f00ff, #ff00dd, #ff004c, #ff0000);
          background-size: 300%;
          animation: animate_bg 5s infinite;
          /*Tiempo de la animacion*/ }
      @media screen and (max-width: 1250px) {
        .scHistoria .divflex .divComoComence {
          margin: 0px 10%; } }
      @media screen and (max-width: 500px) {
        .scHistoria .divflex .divComoComence {
          margin: 0px 10px; } }
    @media screen and (max-width: 1250px) {
      .scHistoria .divflex {
        justify-content: center;
        align-items: center;
        flex-wrap: wrap-reverse; } }

/*Servicio*/
.scContrata {
  position: relative;
  text-align: center;
  margin: 20px;
  padding: 20px; }
  .scContrata #icCarrito1 {
    position: absolute;
    width: 80px;
    left: 10%;
    top: 20px; }
    @media screen and (max-width: 890px) {
      .scContrata #icCarrito1 {
        top: 10%; } }
    @media screen and (max-width: 1200px) {
      .scContrata #icCarrito1 {
        left: 40px;
        width: 60px; } }
    @media screen and (max-width: 500px) {
      .scContrata #icCarrito1 {
        left: -10px; } }
    @media screen and (max-width: 400px) {
      .scContrata #icCarrito1 {
        top: 70px; } }
  .scContrata #icCarrito2 {
    position: absolute;
    width: 80px;
    left: 5%;
    top: 45%; }
    @media screen and (max-width: 800px) {
      .scContrata #icCarrito2 {
        left: 10%; } }
    @media screen and (max-width: 1200px) {
      .scContrata #icCarrito2 {
        left: -20px;
        width: 60px; } }
  .scContrata #icCarrito3 {
    position: absolute;
    width: 80px;
    left: 10%;
    bottom: 5%; }
    @media screen and (max-width: 890px) {
      .scContrata #icCarrito3 {
        left: 50px;
        bottom: 100px; } }
    @media screen and (max-width: 1200px) {
      .scContrata #icCarrito3 {
        left: 40px;
        width: 60px; } }
    @media screen and (max-width: 1070px) {
      .scContrata #icCarrito3 {
        left: 0px;
        width: 60px; } }
    @media screen and (max-width: 400px) {
      .scContrata #icCarrito3 {
        left: -20px;
        bottom: 100px; } }
  .scContrata #icCarrito4 {
    position: absolute;
    width: 80px;
    right: 10%;
    top: 20px; }
    @media screen and (max-width: 890px) {
      .scContrata #icCarrito4 {
        right: 0%;
        top: 10%; } }
    @media screen and (max-width: 1200px) {
      .scContrata #icCarrito4 {
        right: 40px;
        width: 60px; } }
    @media screen and (max-width: 500px) {
      .scContrata #icCarrito4 {
        right: 0px; } }
    @media screen and (max-width: 400px) {
      .scContrata #icCarrito4 {
        top: 70px; } }
  .scContrata #icCarrito5 {
    position: absolute;
    width: 80px;
    right: 5%;
    top: 45%; }
    @media screen and (max-width: 800px) {
      .scContrata #icCarrito5 {
        right: 0%;
        bottom: 30px; } }
    @media screen and (max-width: 1200px) {
      .scContrata #icCarrito5 {
        right: -20px;
        width: 60px; } }
  .scContrata #icCarrito6 {
    position: absolute;
    width: 80px;
    right: 10%;
    bottom: 5%; }
    @media screen and (max-width: 1200px) {
      .scContrata #icCarrito6 {
        right: 40px;
        width: 60px; } }
    @media screen and (max-width: 1070px) {
      .scContrata #icCarrito6 {
        right: 0px; } }
    @media screen and (max-width: 880px) {
      .scContrata #icCarrito6 {
        right: 0px;
        bottom: 100px; } }
    @media screen and (max-width: 400px) {
      .scContrata #icCarrito6 {
        right: -20px;
        bottom: 100px; } }
  .scContrata .divgrillas {
    display: grid;
    grid-template-columns: 270px 270px 270px;
    grid-gap: 10px;
    justify-content: center;
    align-items: center; }
    .scContrata .divgrillas .cardCompra {
      margin: 10px 10px;
      border-radius: 20px; }
      .scContrata .divgrillas .cardCompra .divFoto {
        display: grid;
        position: relative;
        align-items: center;
        justify-items: center;
        background-color: #000000;
        margin-bottom: 3px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px; }
        .scContrata .divgrillas .cardCompra .divFoto .imgCompra {
          width: 100px; }
        .scContrata .divgrillas .cardCompra .divFoto::before {
          content: '';
          position: absolute;
          border-top-right-radius: 10px;
          border-top-left-radius: 10px;
          width: calc(100% + 3%);
          /*tamaño de luces der e izq*/
          height: calc(96% + 10%);
          /*tamaño de luces arriba y abajo*/
          z-index: -1;
          /*se coloca atras*/
          background-image: linear-gradient(60deg, #7700ff, #3700ff, #001aff, #0066ff, #00a2ff, #00eeff, #00ff95, #00ff55);
          background-size: 300%;
          animation: animate_bg 5s infinite;
          /*Tiempo de la animacion*/ }
      .scContrata .divgrillas .cardCompra .lucesBloc {
        display: grid;
        position: relative;
        align-items: center;
        justify-items: center;
        background-color: #000000;
        margin-bottom: 3px; }
        .scContrata .divgrillas .cardCompra .lucesBloc::before {
          content: '';
          position: absolute;
          width: calc(100% + 3%);
          /*tamaño de luces der e izq*/
          height: calc(94% + 10%);
          /*tamaño de luces arriba y abajo*/
          z-index: -1;
          /*se coloca atras*/
          background-image: linear-gradient(60deg, #7700ff, #3700ff, #001aff, #0066ff, #00a2ff, #00eeff, #00ff95, #00ff55);
          background-size: 300%;
          animation: animate_bg 5s infinite;
          /*Tiempo de la animacion*/ }
      .scContrata .divgrillas .cardCompra .divPrecio {
        display: grid;
        position: relative;
        align-items: center;
        justify-items: center;
        background-color: #000000;
        margin-bottom: 3px; }
        .scContrata .divgrillas .cardCompra .divPrecio .textoCentrado {
          margin: 10px;
          text-align: center; }
        .scContrata .divgrillas .cardCompra .divPrecio::before {
          content: '';
          position: absolute;
          width: calc(100% + 3%);
          /*tamaño de luces der e izq*/
          height: calc(94% + 10%);
          /*tamaño de luces arriba y abajo*/
          z-index: -1;
          /*se coloca atras*/
          background-image: linear-gradient(60deg, #7700ff, #3700ff, #001aff, #0066ff, #00a2ff, #00eeff, #00ff95, #00ff55);
          background-size: 300%;
          animation: animate_bg 5s infinite;
          /*Tiempo de la animacion*/ }
      .scContrata .divgrillas .cardCompra .divComprar {
        display: grid;
        position: relative;
        align-items: center;
        justify-items: center;
        background-color: #000000;
        margin-bottom: 3px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px; }
        .scContrata .divgrillas .cardCompra .divComprar::before {
          content: '';
          position: absolute;
          border-bottom-right-radius: 10px;
          border-bottom-left-radius: 10px;
          width: calc(100% + 3%);
          /*tamaño de luces der e izq*/
          height: calc(96% + 15%);
          /*tamaño de luces arriba y abajo*/
          z-index: -1;
          /*se coloca atras*/
          background-image: linear-gradient(60deg, #7700ff, #3700ff, #001aff, #0066ff, #00a2ff, #00eeff, #00ff95, #00ff55);
          background-size: 300%;
          animation: animate_bg 5s infinite;
          /*Tiempo de la animacion*/ }
    @media screen and (max-width: 990px) {
      .scContrata .divgrillas {
        grid-template-columns: 250px;
        justify-content: center;
        align-items: center; } }

.scPago {
  margin: 10px;
  text-align: center; }
  .scPago .logoPago {
    width: 30%; }
    @media screen and (max-width: 1200px) {
      .scPago .logoPago {
        width: 600px; } }
    @media screen and (max-width: 800px) {
      .scPago .logoPago {
        width: 400px; } }
    @media screen and (max-width: 500px) {
      .scPago .logoPago {
        width: 300px; } }

.scFormulario {
  margin-top: 35px;
  margin-bottom: 35px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .scFormulario form {
    width: 50%; }
    .scFormulario form .tituloCentrado {
      text-align: center; }
    .scFormulario form .spanColor {
      background-color: #363636;
      border: #222222 1px solid;
      color: white; }
    .scFormulario form .inpColor {
      background-color: #363636;
      border: #222222 1px solid;
      color: white; }
    .scFormulario form #btnEnviar {
      background-color: #363636;
      border: #222222 1px solid;
      color: white; }
      .scFormulario form #btnEnviar:hover {
        background-color: #464646; }
    @media screen and (max-width: 900px) {
      .scFormulario form {
        width: 80%; } }
    @media screen and (max-width: 500px) {
      .scFormulario form {
        width: 95%; } }

footer {
  grid-area: footer;
  background-color: #111111;
  padding: 20px;
  padding-bottom: 0;
  text-align: center;
  margin-top: 20px; }
  footer .divRedesSociales {
    display: flex;
    justify-content: space-around; }
    footer .divRedesSociales .divIconoRS {
      display: flex;
      justify-content: space-between; }
      footer .divRedesSociales .divIconoRS figure {
        margin: 0; }
        footer .divRedesSociales .divIconoRS figure .iconoRS {
          margin: 15px;
          width: 30px; }
      @media screen and (max-width: 500px) {
        footer .divRedesSociales .divIconoRS {
          justify-content: center;
          align-items: center; } }
    footer .divRedesSociales .divContacto {
      margin-left: 30px; }
      @media screen and (max-width: 500px) {
        footer .divRedesSociales .divContacto {
          margin: 0; } }
    @media screen and (max-width: 500px) {
      footer .divRedesSociales {
        display: block; } }

* {
  padding: 0;
  margin: 0;
  color: white;
  font-family: Arial, Helvetica, sans-serif; }

#grilla {
  background-color: black;
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: "encabezado" "contenido" "footer"; }
  #grilla main {
    grid-area: contenido; }
    #grilla main .portada {
      position: relative; }
      #grilla main .portada .imgPortada {
        width: 100%;
        height: 500px;
        margin-top: 7px;
        filter: brightness(0.4); }
        @media screen and (max-width: 450px) {
          #grilla main .portada .imgPortada {
            height: 260px; } }
      #grilla main .portada .textAbsolute {
        position: absolute;
        bottom: 20px;
        width: 150px;
        padding: 10px;
        text-align: center;
        background-color: rgba(110, 110, 110, 0.425); }
    #grilla main .divContenido {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      margin: 80px;
      background-color: black;
      position: relative; }
      #grilla main .divContenido .centrarContenido {
        display: grid;
        grid-template-columns: auto auto;
        justify-items: center;
        align-items: center; }
        #grilla main .divContenido .centrarContenido::before {
          content: '';
          position: absolute;
          border-radius: 20px;
          width: calc(98% + 3%);
          /*tamaño de luces derecha e izquierda*/
          height: calc(98% + 5%);
          /*tamaño de luces arriba y abajo*/
          z-index: -1;
          /*Las luces que colocan atras*/
          background-image: linear-gradient(60deg, #2600ff, #4e2172, #a224b3, #162470, #2863a7, #16a8b3, #b71ebd, #a31083);
          background-size: 300%;
          animation: animate_bg 15s infinite;
          /*Tiempo de animación*/ }
        #grilla main .divContenido .centrarContenido .divPresentacion {
          padding: 60px 35px;
          position: relative; }
        #grilla main .divContenido .centrarContenido #icono1 {
          width: 80px;
          position: absolute;
          top: 10px;
          left: 20px; }
        #grilla main .divContenido .centrarContenido #icono2 {
          position: absolute;
          width: 110px;
          top: 0px;
          right: 10px; }
        #grilla main .divContenido .centrarContenido #icono3 {
          width: 80px;
          position: absolute;
          bottom: 10px;
          left: 20px; }
        #grilla main .divContenido .centrarContenido #icono4 {
          width: 80px;
          position: absolute;
          bottom: 10px;
          right: 20px; }
        #grilla main .divContenido .centrarContenido .textoCentrado {
          text-align: center; }
          #grilla main .divContenido .centrarContenido .textoCentrado h3 {
            margin: 30px 0px; }
          #grilla main .divContenido .centrarContenido .textoCentrado p {
            margin: 30px 0px; }
        @media screen and (max-width: 1200px) {
          #grilla main .divContenido .centrarContenido {
            grid-template-columns: auto; }
            #grilla main .divContenido .centrarContenido::before {
              width: calc(98% + 4%);
              height: calc(98% + 4%); } }
      #grilla main .divContenido .imgPerfil {
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;
        width: 100%; }
        @media screen and (max-width: 1200px) {
          #grilla main .divContenido .imgPerfil {
            border-radius: 20px; } }
      @media screen and (max-width: 500px) {
        #grilla main .divContenido {
          margin: 20px; } }
    #grilla main .scNuestroTrabajo {
      text-align: center;
      margin: 20px; }
      #grilla main .scNuestroTrabajo .carousel {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px; }
        #grilla main .scNuestroTrabajo .carousel .imgCard {
          width: 100%;
          height: 500px;
          filter: brightness(0.4);
          border-radius: 10px; }
    #grilla main .scOpiniones {
      text-align: center;
      margin-top: 50px; }
      #grilla main .scOpiniones .divOpinionIcono {
        margin: 10px;
        position: relative; }
        #grilla main .scOpiniones .divOpinionIcono #icMsj1 {
          width: 80px;
          position: absolute;
          top: 100px;
          left: 20px; }
          @media screen and (max-width: 1250px) {
            #grilla main .scOpiniones .divOpinionIcono #icMsj1 {
              top: -30px; } }
          @media screen and (max-width: 1040px) {
            #grilla main .scOpiniones .divOpinionIcono #icMsj1 {
              top: 40%;
              left: 10%; } }
          @media screen and (max-width: 680px) {
            #grilla main .scOpiniones .divOpinionIcono #icMsj1 {
              top: 20%;
              left: 0%;
              left: -3%; } }
        #grilla main .scOpiniones .divOpinionIcono #icMsj2 {
          width: 80px;
          position: absolute;
          top: -30px;
          left: 30%; }
          @media screen and (max-width: 680px) {
            #grilla main .scOpiniones .divOpinionIcono #icMsj2 {
              left: 10%; } }
        #grilla main .scOpiniones .divOpinionIcono #icMsj3 {
          width: 80px;
          position: absolute;
          top: -30px;
          right: 30%; }
          @media screen and (max-width: 680px) {
            #grilla main .scOpiniones .divOpinionIcono #icMsj3 {
              right: 10%; } }
        #grilla main .scOpiniones .divOpinionIcono #icMsj4 {
          width: 80px;
          position: absolute;
          top: 100px;
          right: 20px; }
          @media screen and (max-width: 1250px) {
            #grilla main .scOpiniones .divOpinionIcono #icMsj4 {
              top: -30px; } }
          @media screen and (max-width: 1040px) {
            #grilla main .scOpiniones .divOpinionIcono #icMsj4 {
              top: 40%;
              right: 10%; } }
          @media screen and (max-width: 680px) {
            #grilla main .scOpiniones .divOpinionIcono #icMsj4 {
              top: 20%;
              right: 0%;
              right: -2%; } }
        #grilla main .scOpiniones .divOpinionIcono #tildeOP {
          padding-top: 30px; }
        #grilla main .scOpiniones .divOpinionIcono .divOpiniones {
          display: flex;
          flex-wrap: wrap-reverse;
          justify-content: center;
          align-items: center;
          text-align: center; }
          #grilla main .scOpiniones .divOpinionIcono .divOpiniones .divOpinion {
            margin: 25px 25px 25px 25px;
            padding: 10px;
            width: 300px;
            border-radius: 20px;
            border: solid #9b00af 2px;
            box-shadow: 0 5px 36px rgba(161, 0, 161, 0.8);
            -webkit-box-shadow: 0 5px 36px rgba(142, 0, 161, 0.8);
            -moz-box-shadow: 0 5px 36px rgba(83, 0, 161, 0.8); }
            #grilla main .scOpiniones .divOpinionIcono .divOpiniones .divOpinion .imgCliente {
              width: 100px;
              margin: 10px;
              padding: 10px;
              border: #9b00af solid 2px;
              border-radius: 100%; }
            #grilla main .scOpiniones .divOpinionIcono .divOpiniones .divOpinion:hover {
              transform: scale(1.12, 1.12);
              transition-timing-function: ease-out;
              transition-duration: 100ms;
              -moz-transform: scale(1.12, 1.12);
              -moz-transition-timing-function: ease-out;
              -moz-transition-duration: 100ms; }
